.api-credits {
  display: block;
  text-align: center;
}

.api-credits__text {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.75);
}

.api-credits__logo {
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  height: 21px;
  margin-left: 5px;
}
