.wind {
	display: inline-block;
	vertical-align: middle;
}

.wind__speed {
}

.wind__speed .param__units {
	vertical-align: -0.5em;
	font-size: 0.75em;
}

.wind__wind {
	display: inline-block;
	vertical-align: 0.5em;
	margin-left: -1.9em;
	font-size: 0.75em;
}

.wind__degree {
	display: inline-block;
	opacity: 0.25;
	font-size: 1.5em;
	width: 1em;
	height: 1em;
	overflow: hidden;
	vertical-align: middle;
	margin-top: -0.1em;
}

.wind__direction {
	display: inline-block;
	width: 2.6em;
	vertical-align: middle;
}

.wind_speed_low {
}

.wind_speed_low .wind__speed .param__value {
  color: limegreen;
}

.wind_speed_low .wind__degree {
  fill: green;
}

.wind_speed_high {
}

.wind_speed_high .wind__speed .param__value {
  color: orangered;
}

.wind_speed_high .wind__degree {
  fill: orangered;
}
