.wind {
  --wind-speed-color: var(--default-color);
  --wind-speed-degree-color: rgba(38, 50, 56, 0.45);
  --wind-speed-low-color: #4caf50;
  --wind-speed-low-degree-color: #4caf50;
  --wind-speed-high-color: #ff5722;
  --wind-speed-high-degree-color: #ff5722;
}

.wind {
  display: inline-block;
  vertical-align: middle;
}

.wind__speed {
}

.wind__speed .param__units {
  vertical-align: -0.5em;
  font-size: 0.75em;
}

.wind__wind {
  display: inline-block;
  vertical-align: 0.5em;
  margin-left: -1.9em;
  font-size: 0.75em;
}

.wind__degree {
  display: inline-block;
  font-size: 1.5em;
  width: 1em;
  height: 1em;
  overflow: hidden;
  vertical-align: middle;
  margin-top: -0.1em;
  fill: var(--wind-speed-degree-color);
}

.wind__direction {
  display: inline-block;
  width: 2.6em;
  vertical-align: middle;
}

.wind_speed_low {
}

.wind_speed_low .wind__speed .param__value {
  color: var(--wind-speed-low-color);
}

.wind_speed_low .wind__degree {
  fill: var(--wind-speed-low-degree-color);
}

.wind_speed_high {
}

.wind_speed_high .wind__speed .param__value {
  color: var(--wind-speed-high-color);
}

.wind_speed_high .wind__degree {
  fill: var(--wind-speed-high-degree-color);
}
