.wind {
	display: inline-block;
	vertical-align: middle;
}

.wind__speed {
}

.wind__speed .param__units {
	vertical-align: -0.5em;
	font-size: 0.75em;
}

.wind__wind {
	display: inline-block;
	vertical-align: 0.5em;
	margin-left: -1.9em;
	font-size: 0.75em;
}

.wind__degree {
	display: inline-block;
	opacity: 0.25;
	font-size: 1.5em;
	width: 1em;
	height: 1em;
	overflow: hidden;
	vertical-align: middle;
	margin-top: -0.1em;
}

.wind__degree::after {
	content: '';
	background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMFYweiIgZmlsbD0ibm9uZSIvPgogICAgPHBhdGggZD0iTTQgMTJsMS40MSAxLjQxTDExIDcuODNWMjBoMlY3LjgzbDUuNTggNS41OUwyMCAxMmwtOC04LTggOHoiLz4KPC9zdmc+");
	background-size: 100%;
	width: 100%;
	height: 100%;
	transform: rotate(180deg);
	display: block;
}

.wind__direction {
	display: inline-block;
	width: 2.6em;
	vertical-align: middle;
}
