.search-city {
  color: red;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-city__input {
  font-size: 300%;
  font-family: monospace;
}
