.app {
  text-size-adjust: none;
  font-family: monospace;
  line-height: 1.2;
  user-select: none;
  cursor: default;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.app__content {
  height: 100%;
}
