.footer {
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.footer__block {
  flex: 1 0 0;
  padding-right: 5px;
  padding-left: 5px;
}

.footer__block_action {
}

.footer__block_copyright {
  text-align: center;
}

.footer__block_legal {
}
