.footer {
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15px 25px;
}

.footer__block {
  padding-right: 5px;
  padding-left: 5px;
}

.footer__block_action {
  margin-right: 10px;
}

.footer__block_copyright {
  text-align: center;
}

.footer__block_legal {
}
